/* 改变主题色变量 */
$--color-primary: $--text-color;
/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/index";

//https://github.com/ElemeFE/element/pull/20447
@mixin col-gen($size) {
  @include res($size) {
    .el-col-#{$size}-0 {
      display: none;
    }
    @for $i from 0 through 24 {
      .el-col-#{$size}-#{$i} {
        @if $i == 0 {
          display: none;
        } @else {
          display: block;
        }
        width: (1 / 24 * $i * 100) * 1%;
      }

      .el-col-#{$size}-offset-#{$i} {
        margin-left: (1 / 24 * $i * 100) * 1%;
      }

      .el-col-#{$size}-pull-#{$i} {
        position: relative;
        right: (1 / 24 * $i * 100) * 1%;
      }

      .el-col-#{$size}-push-#{$i} {
        position: relative;
        left: (1 / 24 * $i * 100) * 1%;
      }
    }
  }
}

@include col-gen(xs);
@include col-gen(sm);
@include col-gen(md);
@include col-gen(lg);
@include col-gen(xl);

//
.el-card__header {
  border-bottom: 1px solid $--border-color;
}

.el-pagination.is-background .el-pager li {
  border-radius: 0;
  margin: 0;
  &:hover {
    background-color: $--text-color;
  }
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #fff;
}

.el-form-item__content {
  width: 100%;
}
.el-input--small .el-input__inner {
  height: $--search-input-font-size;
  line-height: calc(2.5rem - 2.5px);
  font-size: 1rem;
}
