$--nav-background-color: #000;

$--nav-color: #fff;

$--nav-hover-color: #67c23a;

$--background-color: #f8f8f8;

$--text-color: #555;
$--second-text-color: #a0a0a0;
$--border-color: rgba(222, 229, 231, 0.45);
$--search-input-font-size: 2.5rem;
