@import "./element-variables";
@import "./reset";

//开启3d加速
html{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.timeline-body-content{
  cursor: default;
  .el-card__body{
    padding:10px
  }
}


code{
  display:block;
}
